In [1]:
import pandas as pd
import datetime
import calendar
import statsmodels.formula.api as sm

In [2]:
features_df = pd.read_csv("features.csv")
stores_df = pd.read_csv("stores.csv")
train_df = pd.read_csv("train.csv")

In [3]:
seasons_dict = {
    1:"Winter",
    2:"Winter",
    3:"Spring",
    4:"Spring",
    5:"Spring",
    6:"Summer",
    7:"Summer",
    8:"Summer",
    9:"Fall",
    10:"Fall",
    11:"Fall",
    12:"Winter"
}

In [4]:
master_df = train_df.merge(stores_df, on='Store', how='left')
master_df = master_df.merge(features_df, on=['Store', 'Date'], how='left')

In [5]:
master_df['MarkDown1'] = master_df['MarkDown1'].fillna(0)
master_df['MarkDown2'] = master_df['MarkDown2'].fillna(0)
master_df['MarkDown3'] = master_df['MarkDown3'].fillna(0)
master_df['MarkDown4'] = master_df['MarkDown4'].fillna(0)
master_df['MarkDown5'] = master_df['MarkDown5'].fillna(0)
master_df['isHoliday'] = master_df['IsHoliday_x']
master_df = master_df.drop(columns=['IsHoliday_x', 'IsHoliday_y'])
master_df['Date'] = pd.to_datetime(master_df['Date'], format='%Y-%m-%d')
master_df['Week_Number'] = master_df['Date'].dt.week + 1
master_df['Quarter'] = master_df['Date'].dt.quarter
master_df['Month'] = master_df['Date'].dt.month.apply(lambda x: calendar.month_abbr[x])
master_df['Season'] = (master_df['Date'].apply(lambda dt: (dt.month%12 + 3)//3)).map(seasons_dict)

In [6]:
master_df.head()

,Store,Dept,Date,Weekly_Sales,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,isHoliday,Week_Number,Quarter,Month,Season
0,1,1,2010-02-05,24924.50,A,151315,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,False,6,1,Feb,Winter
1,1,1,2010-02-12,46039.49,A,151315,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,True,7,1,Feb,Winter
2,1,1,2010-02-19,41595.55,A,151315,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,False,8,1,Feb,Winter
3,1,1,2010-02-26,19403.54,A,151315,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,False,9,1,Feb,Winter
4,1,1,2010-03-05,21827.90,A,151315,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,False,10,1,Mar,Winter

In [7]:
master_df = master_df.join(pd.get_dummies(master_df['Quarter'], prefix='Quarter'))

In [8]:
master_df.head()

,Store,Dept,Date,Weekly_Sales,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,isHoliday,Week_Number,Quarter,Month,Season,Quarter_1,Quarter_2,Quarter_3,Quarter_4
0,1,1,2010-02-05,24924.50,A,151315,42.31,2.572,0.0,0.0,...,8.106,False,6,1,Feb,Winter,1,0,0,0
1,1,1,2010-02-12,46039.49,A,151315,38.51,2.548,0.0,0.0,...,8.106,True,7,1,Feb,Winter,1,0,0,0
2,1,1,2010-02-19,41595.55,A,151315,39.93,2.514,0.0,0.0,...,8.106,False,8,1,Feb,Winter,1,0,0,0
3,1,1,2010-02-26,19403.54,A,151315,46.63,2.561,0.0,0.0,...,8.106,False,9,1,Feb,Winter,1,0,0,0
4,1,1,2010-03-05,21827.90,A,151315,46.50,2.625,0.0,0.0,...,8.106,False,10,1,Mar,Winter,1,0,0,0

In [14]:
result = sm.ols(formula="Weekly_Sales ~ isHoliday + Fuel_Price + Temperature + Size + MarkDown1 + MarkDown2 + MarkDown3 + MarkDown4 + MarkDown5 + CPI + Unemployment + Week_Number", data=master_df[(master_df['Store'] == 2)]).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Weekly_Sales   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     2.315
Date:                Wed, 18 Jul 2018   Prob (F-statistic):            0.00786
Time:                        14:54:59   Log-Likelihood:            -1.2106e+05
No. Observations:               10238   AIC:                         2.421e+05
Df Residuals:                   10226   BIC:                         2.422e+05
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept         -1.086e-06   2.95e-06     -0.368      0.713   -6.86e-06    4.69e-06
isHoliday[T.True]   647.4701   1436.944      0.451      0.652   -2169.222    3464.163
Fuel_Price        -1752.0820   1722.331     -1.017      0.309   -5128.189    1624.025
Temperature         -58.9276     24.372     -2.418      0.016    -106.702     -11.153
Size                 -0.2197      0.596     -0.368      0.713      -1.389       0.949
MarkDown1             0.1228      0.149      0.825      0.409      -0.169       0.415
MarkDown2            -0.0669      0.042     -1.576      0.115      -0.150       0.016
MarkDown3             0.0780      0.054      1.438      0.150      -0.028       0.184
MarkDown4            -0.1227      0.222     -0.554      0.580      -0.557       0.312
MarkDown5             0.0223      0.094      0.237      0.813      -0.162       0.207
CPI                 293.2358    491.989      0.596      0.551    -671.159    1257.630
Unemployment       2038.0089   2607.291      0.782      0.434   -3072.792    7148.810
Week_Number          71.9710     26.312      2.735      0.006      20.393     123.549
==============================================================================
Omnibus:                     4827.678   Durbin-Watson:                   0.076
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            25930.925
Skew:                           2.274   Prob(JB):                         0.00
Kurtosis:                       9.332   Cond. No.                     8.71e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.52e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [11]:
master_df.describe()

,Store,Dept,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Week_Number,Quarter,Quarter_1,Quarter_2,Quarter_3,Quarter_4
count,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000,421570.000000
mean,22.200546,44.260317,15981.258123,136727.915739,60.090059,3.361027,2590.074819,879.974298,468.087665,1083.132268,1662.772385,171.201947,7.960289,26.826762,2.482767,0.231331,0.272275,0.278692,0.217703
std,12.785297,30.492054,22711.183519,60980.583328,18.447931,0.458515,6052.385934,5084.538801,5528.873453,3894.529945,4207.629321,39.159276,1.863296,14.151887,1.071341,0.421684,0.445131,0.448356,0.412685
min,1.000000,1.000000,-4988.940000,34875.000000,-2.060000,2.472000,0.000000,-265.760000,-29.100000,0.000000,0.000000,126.064000,3.879000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,11.000000,18.000000,2079.650000,93638.000000,46.680000,2.933000,0.000000,0.000000,0.000000,0.000000,0.000000,132.022667,6.891000,15.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,22.000000,37.000000,7612.030000,140167.000000,62.090000,3.452000,0.000000,0.000000,0.000000,0.000000,0.000000,182.318780,7.866000,27.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,33.000000,74.000000,20205.852500,202505.000000,74.280000,3.738000,2809.050000,2.200000,4.540000,425.290000,2168.040000,212.416993,8.572000,39.000000,3.000000,0.000000,1.000000,1.000000,0.000000
max,45.000000,99.000000,693099.360000,219622.000000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000,53.000000,4.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
result = sm.ols(formula="Weekly_Sales ~ isHoliday + Fuel_Price + Temperature + Size + MarkDown1 + MarkDown2 + MarkDown3 + MarkDown4 + MarkDown5 + CPI + Unemployment + Week_Number", data=master_df[(master_df['Store'] == 1)]).fit()
print(result.summary())

result = sm.ols(formula="Weekly_Sales ~ isHoliday + Fuel_Price + Temperature + Size + MarkDown1 + MarkDown2 + MarkDown3 + MarkDown4 + MarkDown5 + CPI + Unemployment + Week_Number", data=master_df[(master_df['Store'] == 2)]).fit()
print(result.summary())

result = sm.ols(formula="Weekly_Sales ~ isHoliday + Fuel_Price + Temperature + Size + MarkDown1 + MarkDown2 + MarkDown3 + MarkDown4 + MarkDown5 + CPI + Unemployment + Week_Number", data=master_df[(master_df['Store'] == 3)]).fit()
print(result.summary())

result = sm.ols(formula="Weekly_Sales ~ isHoliday + Fuel_Price + Temperature + Size + MarkDown1 + MarkDown2 + MarkDown3 + MarkDown4 + MarkDown5 + CPI + Unemployment + Week_Number", data=master_df[(master_df['Store'] == 4)]).fit()
print(result.summary())

result = sm.ols(formula="Weekly_Sales ~ isHoliday + Fuel_Price + Temperature + Size + MarkDown1 + MarkDown2 + MarkDown3 + MarkDown4 + MarkDown5 + CPI + Unemployment + Week_Number", data=master_df[(master_df['Store'] == 5)]).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Weekly_Sales   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.290
Date:                Wed, 18 Jul 2018   Prob (F-statistic):              0.223
Time:                        14:56:07   Log-Likelihood:            -1.1933e+05
No. Observations:               10244   AIC:                         2.387e+05
Df Residuals:                   10232   BIC:                         2.388e+05
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept          1.751e-07    2.2e-06      0.080      0.937   -4.14e-06    4.49e-06
isHoliday[T.True]   742.8649   1210.547      0.614      0.539   -1630.044    3115.774
Fuel_Price          596.3296   1227.912      0.486      0.627   -1810.619    3003.278
Temperature         -39.8422     23.187     -1.718      0.086     -85.294       5.610
Size                  0.0265      0.333      0.080      0.937      -0.626       0.679
MarkDown1             0.1245      0.108      1.152      0.249      -0.087       0.336
MarkDown2            -0.0750      0.069     -1.081      0.280      -0.211       0.061
MarkDown3             0.0787      0.064      1.236      0.217      -0.046       0.204
MarkDown4            -0.0301      0.120     -0.250      0.803      -0.266       0.206
MarkDown5            -0.0291      0.137     -0.213      0.831      -0.297       0.239
CPI                  58.1075    208.289      0.279      0.780    -350.180     466.395
Unemployment        626.5605   1437.376      0.436      0.663   -2190.979    3444.100
Week_Number          33.2165     22.759      1.459      0.144     -11.397      77.830
==============================================================================
Omnibus:                     4601.243   Durbin-Watson:                   0.062
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            21621.796
Skew:                           2.206   Prob(JB):                         0.00
Kurtosis:                       8.585   Cond. No.                     7.96e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.7e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
                            OLS Regression Results
==============================================================================
Dep. Variable:           Weekly_Sales   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     2.315
Date:                Wed, 18 Jul 2018   Prob (F-statistic):            0.00786
Time:                        14:56:07   Log-Likelihood:            -1.2106e+05
No. Observations:               10238   AIC:                         2.421e+05
Df Residuals:                   10226   BIC:                         2.422e+05
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept         -1.086e-06   2.95e-06     -0.368      0.713   -6.86e-06    4.69e-06
isHoliday[T.True]   647.4701   1436.944      0.451      0.652   -2169.222    3464.163
Fuel_Price        -1752.0820   1722.331     -1.017      0.309   -5128.189    1624.025
Temperature         -58.9276     24.372     -2.418      0.016    -106.702     -11.153
Size                 -0.2197      0.596     -0.368      0.713      -1.389       0.949
MarkDown1             0.1228      0.149      0.825      0.409      -0.169       0.415
MarkDown2            -0.0669      0.042     -1.576      0.115      -0.150       0.016
MarkDown3             0.0780      0.054      1.438      0.150      -0.028       0.184
MarkDown4            -0.1227      0.222     -0.554      0.580      -0.557       0.312
MarkDown5             0.0223      0.094      0.237      0.813      -0.162       0.207
CPI                 293.2358    491.989      0.596      0.551    -671.159    1257.630
Unemployment       2038.0089   2607.291      0.782      0.434   -3072.792    7148.810
Week_Number          71.9710     26.312      2.735      0.006      20.393     123.549
==============================================================================
Omnibus:                     4827.678   Durbin-Watson:                   0.076
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            25930.925
Skew:                           2.274   Prob(JB):                         0.00
Kurtosis:                       9.332   Cond. No.                     8.71e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.52e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
                            OLS Regression Results
==============================================================================
Dep. Variable:           Weekly_Sales   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.7380
Date:                Wed, 18 Jul 2018   Prob (F-statistic):              0.703
Time:                        14:56:08   Log-Likelihood:                -99243.
No. Observations:                9036   AIC:                         1.985e+05
Df Residuals:                    9024   BIC:                         1.986e+05
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept         -4.971e-06   2.64e-05     -0.188      0.851   -5.67e-05    4.68e-05
isHoliday[T.True]   295.8112    655.889      0.451      0.652    -989.880    1581.502
Fuel_Price           22.6298    919.831      0.025      0.980   -1780.448    1825.708
Temperature         -22.8414     14.780     -1.545      0.122     -51.813       6.130
Size                 -0.1859      0.988     -0.188      0.851      -2.122       1.750
MarkDown1             0.0451      0.133      0.340      0.734      -0.215       0.305
MarkDown2            -0.1001      0.114     -0.876      0.381      -0.324       0.124
MarkDown3             0.0402      0.051      0.785      0.432      -0.060       0.140
MarkDown4             0.0148      0.247      0.060      0.952      -0.470       0.499
MarkDown5             0.0296      0.221      0.134      0.893      -0.403       0.463
CPI                  59.1957    152.348      0.389      0.698    -239.442     357.833
Unemployment        212.1355    941.997      0.225      0.822   -1634.392    2058.663
Week_Number          11.0848     12.811      0.865      0.387     -14.027      36.197
==============================================================================
Omnibus:                    10752.368   Durbin-Watson:                   0.064
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           937178.537
Skew:                           6.543   Prob(JB):                         0.00
Kurtosis:                      51.145   Cond. No.                     6.17e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.33e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

                            OLS Regression Results
==============================================================================
Dep. Variable:           Weekly_Sales   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     4.334
Date:                Wed, 18 Jul 2018   Prob (F-statistic):           1.69e-06
Time:                        14:56:08   Log-Likelihood:            -1.2191e+05
No. Observations:               10272   AIC:                         2.438e+05
Df Residuals:                   10260   BIC:                         2.439e+05
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept         -3.653e-06   2.95e-06     -1.237      0.216   -9.44e-06    2.13e-06
isHoliday[T.True]   -67.0494   1491.829     -0.045      0.964   -2991.326    2857.227
Fuel_Price         -472.0272   1977.526     -0.239      0.811   -4348.364    3404.310
Temperature         -87.8153     25.912     -3.389      0.001    -138.607     -37.023
Size                 -0.7519      0.608     -1.237      0.216      -1.943       0.439
MarkDown1             0.0060      0.135      0.044      0.965      -0.259       0.271
MarkDown2            -0.0919      0.053     -1.736      0.083      -0.196       0.012
MarkDown3             0.0957      0.053      1.822      0.069      -0.007       0.199
MarkDown4             0.0293      0.151      0.195      0.846      -0.266       0.325
MarkDown5            -0.1105      0.131     -0.847      0.397      -0.366       0.145
CPI                1438.3841    955.693      1.505      0.132    -434.961    3311.730
Unemployment        529.8129   1046.809      0.506      0.613   -1522.138    2581.764
Week_Number         109.9421     28.928      3.801      0.000      53.237     166.647
==============================================================================
Omnibus:                     4717.153   Durbin-Watson:                   0.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            28149.954
Skew:                           2.152   Prob(JB):                         0.00
Kurtosis:                       9.873   Cond. No.                     2.25e+21
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.57e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
                            OLS Regression Results
==============================================================================
Dep. Variable:           Weekly_Sales   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     1.493
Date:                Wed, 18 Jul 2018   Prob (F-statistic):              0.126
Time:                        14:56:08   Log-Likelihood:                -93713.
No. Observations:                8999   AIC:                         1.874e+05
Df Residuals:                    8987   BIC:                         1.875e+05
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept          6.894e-06   1.94e-05      0.355      0.722   -3.11e-05    4.49e-05
isHoliday[T.True]   438.8706    378.789      1.159      0.247    -303.641    1181.382
Fuel_Price          143.4858    469.340      0.306      0.760    -776.527    1063.499
Temperature          -5.7231      7.964     -0.719      0.472     -21.335       9.889
Size                  0.2404      0.677      0.355      0.722      -1.086       1.567
MarkDown1             0.1212      0.106      1.146      0.252      -0.086       0.329
MarkDown2            -0.0536      0.060     -0.893      0.372      -0.171       0.064
MarkDown3             0.0661      0.036      1.816      0.069      -0.005       0.137
MarkDown4            -0.1453      0.165     -0.883      0.377      -0.468       0.177
MarkDown5             0.0182      0.043      0.425      0.671      -0.066       0.102
CPI                 -11.1903     93.997     -0.119      0.905    -195.446     173.065
Unemployment       -224.2125    754.621     -0.297      0.766   -1703.441    1255.016
Week_Number          11.8230      8.174      1.446      0.148      -4.200      27.846
==============================================================================
Omnibus:                     8441.173   Durbin-Watson:                   0.109
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           326965.297
Skew:                           4.615   Prob(JB):                         0.00
Kurtosis:                      31.050   Cond. No.                     2.25e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.17e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [19]:
master_df[(master_df['Store'] == 1)].describe()

,Store,Dept,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Week_Number,Quarter,Quarter_1,Quarter_2,Quarter_3,Quarter_4
count,10244.0,10244.000000,10244.000000,10244.0,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000,10244.000000
mean,1.0,44.391742,21710.543621,151315.0,68.224463,3.218811,2886.877467,873.291894,436.207316,1340.570529,1794.852645,215.995525,7.610918,26.840785,2.484088,0.231941,0.270695,0.278700,0.218665
std,0.0,29.867247,27748.945511,0.0,14.203190,0.425663,5503.673703,4499.776135,4693.473924,3984.508270,3100.783515,4.335980,0.382613,14.167845,1.072879,0.422092,0.444341,0.448381,0.413361
min,1.0,1.000000,-863.000000,151315.0,35.400000,2.514000,0.000000,0.000000,0.000000,0.000000,0.000000,210.337426,6.573000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,20.000000,3465.622500,151315.0,57.790000,2.759000,0.000000,0.000000,0.000000,0.000000,0.000000,211.531248,7.348000,15.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,1.0,38.000000,10289.375000,151315.0,69.640000,3.290000,0.000000,0.000000,0.000000,0.000000,0.000000,215.459905,7.787000,27.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,1.0,72.000000,31452.957500,151315.0,80.480000,3.594000,4640.650000,12.000000,8.110000,983.650000,3400.210000,220.636902,7.838000,39.000000,3.000000,0.000000,1.000000,1.000000,0.000000
max,1.0,99.000000,203670.470000,151315.0,91.650000,3.907000,34577.060000,46011.380000,55805.510000,32403.870000,20475.320000,223.444251,8.106000,53.000000,4.000000,1.000000,1.000000,1.000000,1.000000